body {
    background-image: url("./images/vintage-american.jpg");
    background-repeat: y-repeat;
    background-width: 100%;
    background-color: blue;
}

p {
	color:black;
	background: grey;
  	font-size: 20px;
}

img {
	align: middle;
	vertical-align:bottom;
    border-radius: 20px;
    max-width: 99%;
    background-position: center;
}

img-solo {
	border-radius: 20px;
	
}

input{
      border: solid 1px black;
      color: black;
      padding: 1px 10px;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      border-radius: 3px;}
}

text {
  background-color: white ;
}
